HTML {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
B {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
I {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
STRONG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
BIG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
CITE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
BODY {
	FONT: 12px Arial, Helvetica, sans-serif; WHITE-SPACE: normal; COLOR: #000; _word-break: break-all
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #0083de
}
A:visited {
	COLOR: #0083de
}
A:hover {
	COLOR: #fc5012; TEXT-DECORATION: underline
}
EM {
	FONT-STYLE: normal
}
B {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
I {
	FONT-STYLE: normal
}
Q {
	FONT-STYLE: normal
}
UL {
	TEXT-ALIGN: left; LIST-STYLE-TYPE: none
}
OL {
	TEXT-ALIGN: left; LIST-STYLE-TYPE: none
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, sans-serif; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.clear {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: "."
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: "."
}
.clearfix {
	ZOOM: 1
}
.section {
	MARGIN: 0px auto; WIDTH: 960px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.position {
	POSITION: relative
}
.martop {
	MARGIN-TOP: 10px
}
.martop5 {
	MARGIN-TOP: 5px
}
.border-top {
	BORDER-TOP: #e1e1e1 1px dashed
}
#main {
	WIDTH: 960px; OVERFLOW: hidden
}
.subnav {
	BACKGROUND: url(images/sroll-x.png) repeat-x
}
.indexss {
	BACKGROUND: url(images/sroll-x.png) repeat-x
}
.hcen-top {
	BACKGROUND: url(images/sroll-x.png) repeat-x
}
.newsnav {
	BACKGROUND: url(images/sroll-x.png) repeat-x
}
.navleft {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.navright {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
#navChecked {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.nav LI A:hover {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.weblogin {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.indexlogin S {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.weblogin .over S {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.wz {
	BACKGROUND: url(images/bgtrain.png) no-repeat
}
.more {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px; FONT: 12px/30px "����"; FLOAT: right; PADDING-TOP: 3px
}
A.more:link {
	COLOR: #797979
}
A.more:visited {
	COLOR: #797979
}
A.more:hover {
	COLOR: #f00
}
.section A.black:link {
	COLOR: #797979
}
.section A.black:visited {
	COLOR: #797979
}
.section A.black:hover {
	COLOR: #f60
}
#headtop {
	TEXT-ALIGN: right; LINE-HEIGHT: 32px; BACKGROUND: url(images/top_bg_02.jpg) repeat-x; HEIGHT: 32px; COLOR: #999; OVERFLOW: hidden
}
#headtop A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; PADDING-TOP: 0px
}
#headtop .usernews A:unknown {
	COLOR: #06f
}
#headtop .usernews A:visited {
	COLOR: #06f
}
#headtop A:link {
	COLOR: #797979
}
#headtop A:visited {
	COLOR: #797979
}
#headtop A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
#header {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 75px; PADDING-TOP: 10px
}
.logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #fff; PADDING-TOP: 3px
}
.headmiddle {
	PADDING-RIGHT: 25px; FLOAT: right; PADDING-TOP: 2px
}
#nav {
	Z-INDEX: 11; POSITION: relative; BACKGROUND-POSITION: 0px 4px
}
.navleft {
	WIDTH: 6px; BACKGROUND-POSITION: -86px 4px; FLOAT: left; HEIGHT: 45px
}
.navright {
	WIDTH: 6px; BACKGROUND-POSITION: -92px 4px; FLOAT: right; HEIGHT: 45px
}
#nav .nav {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 41px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 41px; PADDING-TOP: 4px
}
#nav .nav LI {
	POSITION: relative; TEXT-ALIGN: center; MARGIN: 0px 2px; WIDTH: 86px; FLOAT: left; FONT-SIZE: 14px
}
#navChecked {
	WIDTH: 86px; BACKGROUND-POSITION: 0px 4px
}
#nav #navChecked A:link {
	COLOR: #000
}
#nav #navChecked A:visited {
	COLOR: #000
}
#nav #navChecked A:hover {
	COLOR: #f60
}
#nav .nav LI A:link {
	COLOR: #fff
}
#nav .nav LI A:visited {
	COLOR: #fff
}
#nav .nav LI A:hover {
	WIDTH: 86px; DISPLAY: block; BACKGROUND-POSITION: 0px 4px; COLOR: #007ad0; TEXT-DECORATION: none
}
.weblogin {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; PADDING-LEFT: 14px; WIDTH: 207px; PADDING-RIGHT: 14px; BACKGROUND-POSITION: -98px 0px; HEIGHT: 35px; COLOR: #fff; RIGHT: 20px; PADDING-TOP: 10px
}
.indexlogin {
	WIDTH: 67px; FLOAT: left; HEIGHT: 35px
}
.zhu-ce {
	WIDTH: 67px; FLOAT: left; HEIGHT: 35px
}
.zh-mm {
	WIDTH: 67px; FLOAT: left; HEIGHT: 35px
}
.weblogin .over {
	BORDER-BOTTOM: #ccc 1px; BORDER-LEFT: #ccc 1px solid; WIDTH: 65px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 35px; COLOR: #000; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
A.zhu-ce:link {
	COLOR: #fff
}
A.zh-mm:link {
	COLOR: #fff
}
A.zhu-ce:visited {
	COLOR: #fff
}
A.zh-mm:visited {
	COLOR: #fff
}
.usercenter A:link {
	COLOR: #fff
}
.usercenter A:visited {
	COLOR: #fff
}
A.zhu-ce:hover {
	COLOR: #00f
}
A.zh-mm:hover {
	COLOR: #00f
}
.indexlogin S {
	WIDTH: 13px; DISPLAY: inline-block; BACKGROUND-POSITION: -344px -159px; MARGIN-BOTTOM: 2px; HEIGHT: 11px; MARGIN-LEFT: 10px; _margin-top: 5px
}
.indexlogin S {
	_background-position: -344px -156px
}
.weblogin .over S {
	WIDTH: 13px; DISPLAY: inline-block; BACKGROUND-POSITION: -344px -172px; HEIGHT: 11px; MARGIN-LEFT: 10px
}
.weblogin .over S {
	_background-position: -344px -169px
}
.index-login {
	Z-INDEX: 999; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: none; BACKGROUND: #fff; COLOR: #000; OVERFLOW: hidden; BORDER-TOP: #ccc 1px; TOP: 45px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 15px; LEFT: 14px
}
.weblogin .over .index-login {
	DISPLAY: block
}
.index-login LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 26px; WIDTH: 162px
}
.login-name {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 24px; WIDTH: 160px; HEIGHT: 24px; FONT-SIZE: 14px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.dl-index {
	WIDTH: 60px; HEIGHT: 26px; CURSOR: pointer
}
.index-login A:link {
	COLOR: #03f
}
.index-login A:visited {
	COLOR: #03f
}
.index-login A:hover {
	COLOR: #f60
}
.usercenter A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.subnav {
	BORDER-BOTTOM: #bbd8ff 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 27px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -41px; HEIGHT: 27px; PADDING-TOP: 5px
}
.subnav LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; COLOR: #0061ff; PADDING-TOP: 0px
}
.wz-nav {
	LINE-HEIGHT: 28px; PADDING-LEFT: 10px; WIDTH: 950px; HEIGHT: 28px; OVERFLOW: hidden
}
.wz {
	PADDING-LEFT: 26px; FONT-FAMILY: "����"; BACKGROUND-POSITION: -479px -161px
}
.basic-hc {
	BORDER-BOTTOM: #cfe3f2 1px solid; BORDER-LEFT: #cfe3f2 1px solid; WIDTH: 958px; FONT-FAMILY: "����"; OVERFLOW: hidden; BORDER-TOP: #cfe3f2 1px solid; BORDER-RIGHT: #cfe3f2 1px solid
}
.hcen-top {
	BACKGROUND-POSITION: 0px -302px; HEIGHT: 50px
}
.hcen-top UL LI {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 21px; PADDING-LEFT: 59px; WIDTH: 132px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 38px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.hcen-top UL LI P {
	COLOR: #b0b0b0; FONT-SIZE: 12px
}
.hcen-top LI A:link {
	COLOR: #007bc8
}
.hcen-top LI A:visited {
	COLOR: #007bc8
}
.bao-zhen {
	BACKGROUND: url(images/tubiao.png) no-repeat
}
.bao-kuai {
	BACKGROUND: url(images/tubiao.png) no-repeat
}
.bao-zhi {
	BACKGROUND: url(images/tubiao.png) no-repeat
}
.bao-anq {
	BACKGROUND: url(images/tubiao.png) no-repeat
}
.bao-tui {
	BACKGROUND: url(images/tubiao.png) no-repeat
}
.bao-zhen {
	BACKGROUND-POSITION: 20px -317px
}
.bao-kuai {
	BACKGROUND-POSITION: 20px -360px
}
.bao-zhi {
	BACKGROUND-POSITION: 20px -410px
}
.bao-anq {
	BACKGROUND-POSITION: 20px -457px
}
.bao-tui {
	BACKGROUND-POSITION: 20px -501px
}
.basic-hc DL {
	LINE-HEIGHT: 26px; MARGIN: 15px 0px; PADDING-LEFT: 30px; WIDTH: 160px; FLOAT: left; OVERFLOW: hidden
}
.border-r {
	BORDER-RIGHT: #ccc 1px dotted
}
.basic-hc DL DT {
	COLOR: #333
}
.basic-hc DL DD {
	PADDING-LEFT: 12px; BACKGROUND: url(images/tubiao.png) no-repeat 0px -760px
}
.basic-hc DL DD A:link {
	COLOR: #666
}
.basic-hc DL DD A:visited {
	COLOR: #666
}
.basic-hc DL DD A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
#footer {
	TEXT-ALIGN: center; MARGIN-TOP: 8px; WIDTH: 960px; BORDER-TOP: #cde2f1 1px solid; PADDING-TOP: 6px
}
.introduction {
	LINE-HEIGHT: 23px; COLOR: #666666
}
.introduction A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #000000; PADDING-TOP: 0px
}
#footer .introduction A.beianhao:link {
	COLOR: #666666
}
#footer .introduction A.beianhao:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
#footer .introduction A:link {
	COLOR: #000000
}
#foot .introduction A:visited {
	COLOR: #000000
}
#footer .introduction A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.flink {
	LINE-HEIGHT: 25px; WIDTH: 960px; OVERFLOW: hidden
}
.flink DT {
	FLOAT: left; COLOR: #999; FONT-WEIGHT: bold
}
.flink DD {
	WIDTH: 890px; FLOAT: left
}
.flink DD A {
	PADDING-RIGHT: 15px; COLOR: #999
}
.flink DD A:link {
	COLOR: #999
}
.flink DD A:visited {
	COLOR: #999
}
.flink DD A:hover {
	COLOR: #f60
}
.page {
	TEXT-ALIGN: right; LINE-HEIGHT: 23px; PADDING-LEFT: 15px; HEIGHT: 25px; OVERFLOW: hidden
}
.page SPAN {
	PADDING-RIGHT: 10px; FLOAT: left; LETTER-SPACING: 0.1em; COLOR: #333
}
.pagnation {
	DISPLAY: inline
}
.pagnation LI {
	FLOAT: left; MARGIN-LEFT: 5px; CURSOR: pointer
}
.page .current SPAN {
	BORDER-BOTTOM: #d6eef3 1px solid; BORDER-LEFT: #d6eef3 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; BACKGROUND: #e2fef1; BORDER-TOP: #d6eef3 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d6eef3 1px solid; PADDING-TOP: 0px
}
.page A {
	BORDER-BOTTOM: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; BACKGROUND: #f3f3f3; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 0px
}
.page A:link {
	COLOR: #999
}
.page A:visited {
	COLOR: #999
}
.page A:hover {
	BACKGROUND: #4287e4; COLOR: #ffffff; TEXT-DECORATION: none
}
SPAN.ico {
	Z-INDEX: 10; POSITION: absolute; MARGIN: -48px 0px 0px 20px; WIDTH: 26px; BACKGROUND: url(images/hot.gif); HEIGHT: 20px
}
