*{
	margin: 0 auto;
	padding: 0;
	border: 0;
	
}
.top{
	width: 100%;
	height: 100px;
	background: rgb(235,235,235);
	border-bottom: 2px solid gray;
}
.top .left{
	padding-top: 40px;
	padding-left: 50px;
	float: left;
	display: inline;
}
.top .left .title-cq{
	font-family:  arial;
	font-size: 40px;
	color: rgb(42,171,62);
}
.top .right{
	padding-top: 40px;
	padding-right: 180px;
	float: right;
	display: inline;
}
.top-nav{
	width: 100%;
	height: 60px;
	padding-top: 12px;
	padding-left: 200px;
	background: url(../images/topbg.png);
	background-size: cover;
}
