*{
	margin: 0;
	border: 0;
	margin: 0;
	list-style:none;
	text-decoration:none;
}
.personal{
	width:70%;
	height:80%;
	margin-top:10px;
	margin-left:15%;
	background:rgb(252,252,252);
	position:absolute;
		}
.person_nav{
	width:150px;
	height:100%;
	position:relative;
	float:left;
	background:rgb(30,191,245);
}
.person_nav label{
	width:100px;
	height:40px;
	line-height:40px;
	font-size:20px;
	color:white;	
	text-align: center;
	}
.person_nav #nav-userinfo,.person_nav #nav-alertpwd,.person_nav #nav-passenger,.person_nav #nav-message{
	width:130px;
	height:50px;	
	line-height:50px;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
	color:white;
	cursor:pointer;
}
.person_nav #nav-orderinfo,.person_nav #nav-suggest{
	width:130px;
	height:50px;
	line-height:50px;	
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
	color:white;
	cursor:pointer;
	}
ul li:hover{
	background:white;
	color:rgb(30,191,245) !important;
	}
#content{
	float:left;
	}
