*{
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.title_suggest{
	width: 750px;
	height: 60px;
	background: rgb(30,191,245);
	color: white;
	font-size: 34px;
	text-align: center;
	line-height: 60px;
	margin-left: 20px;
}
.sourceType{
    width:500px;
    height:400px;
	border: 2px solid #f2f2f2;
	margin-top:10px;
	margin-left:20px;
}
.sourceType  label{
    text-align:right;
    width:100px;
    height:40px;
    line-height:40px;
    padding-top:10px;
}
.sourceType  input{
    display:block;
    float:right;
    width:400px;
    height:30px;
    line-height:30px;
    border:1px solid rgb(30,191,245);
    border-radius:5px;
}
.sourceType textarea{
    float:right;
    width:400px;
    height:100px;
    border:1px solid grey;
    overflow:scroll;
    border-radius:5px;
}
#submit{
    width:100px;
    height:40px;
    line-height:40px;
    background:rgb(30,191,245);
    margin-top:15px;
    color:white;
    border-radius:5px;
    cursor:pointer;
    margin-right:40%;
}
